# Microsoft Intune (device management) — reuses a Microsoft Entra app registration.
# Same app as .env.entra is fine; kept a separate file for per-platform isolation.
# Grant the app (admin consent): DeviceManagementManagedDevices.Read.All and
# DeviceManagementConfiguration.Read.All. Requires an active Intune license on the tenant.
INTUNE_TENANT_ID=
INTUNE_CLIENT_ID=
INTUNE_CLIENT_SECRET=
INTUNE_VERIFY_TLS=true
